<h2>Artists</h2>
<div id="artistForm">
    <form [formGroup]="artistForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <label for="artistName">Artist Name</label>
            <input type="text" name="artistName" id="artistName" formControlName="artistName">
        </div>
        <form [formGroup]="artistTagsForm">
            <div class="input-container" *ngFor="let i of tagRange">
                <label>Tag {{i}}</label>
                <input class="tagInput" type="text" id={{i}} formControlName="{{i}}">
            </div>
            <button class="btn" (click)="addTagInput()">Add Tag</button>
        </form>
        <form [formGroup]="artistAlbumsForm">
            <div class="input-container" *ngFor="let j of albumRange">
                <label>Album {{j}}</label>
                <input class="tagInput" type="text" id={{j}} formControlName="{{j}}">
            </div>
            <button class="btn" (click)="addAlbumInput()">Add Album</button>
        </form>
        <button class="btn" type="submit" #tref>Add Artist</button>
    </form>
</div>