/* You can add global styles to this file, and also import other style files */
$charcoal: #36454f;
$raleway: 'Raleway', sans-serif;

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background: $charcoal;
    color: #fff;
    font-family: $raleway;
    font-weight: 300;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        letter-spacing: .5px;
    }
}

.container {
    display: block;
    position: relative;
    padding: 0 30px;
    margin: auto;
    max-width: 1400px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.btn {
    padding: 5px 10px;
    background: $charcoal;
    border: solid 1px #fff;
    color: #fff;
    text-transform: uppercase;
    transition: all 300ms ease;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;

    &:hover {
        background: lighten($charcoal, 15%);
        cursor: pointer;
    }
}

form {
    .input-container {
        display: block;
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 30px;
        }

        label {
            width: 150px;
            margin-right: 10px;
        }

        label, input {
            display: inline-block;
        }
    }
}